# Ignorar bin y obj en backend
bin/
obj/

# Ignorar node_modules y carpetas de build en frontend
/frontend/todolistfrontend/node_modules/
/frontend/todolistfrontend/dist/
/frontend/todolistfrontend/out-tsc/

# Ignorar configuraciones de IDE
.vs/
.vscode/

# Archivos temporales y logs
*.user
*.suo
*.log
*.cache
*.pdb
/backend/ToDoListBackend/obj/Debug/net9.0/ToDoListBackend.AssemblyInfo.cs
/backend/ToDoListBackend/obj/Debug/net9.0/ToDoListBackend.AssemblyInfoInputs.cache
